
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #fafafa;
  
  /* overflow-x: hidden;
  overflow-y: auto; */
}

html::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-track {
  background: linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(7, 0, 211, 1) 100%);
}

html::-webkit-scrollbar-thumb {
  background: transparent;
}